header.s-header

  .s-header__banner
    .text-center
      picture
        img.img-logo(src="img/logos/colours-logo.png" alt="Front-End Checklist Logo" width="60" height="60")
      h1.font-weight-bold= translation.SITE_NAME
      p.sub-heading= translation.SITE_TAGLINE
